<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatApp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.js"></script>
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    {% block head %}{% endblock %}
</head>
<body>
    {{ toastr.include_toastr_js() }}
    {% block container %}{% endblock %}
</body>
</html>