{% extends 'base.html' %}
{% block head %}
    <link href="../static/header_tabs.css" rel="stylesheet">
    <link href="../static/showRoom.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="../static/js/messaging.js"></script>
{% endblock %}
{% block container %}
    {% if session['logged_in'] %}
        <div class="container">
            <div class="header">
            <h3 class="text-muted">ChatApp, {{ session['user_name'] }}</h3>
            <nav class="tabs">
              <ul class="nav nav-pills">
                <li role="presentation" class="nav-item"><a class="nav-link active" href=""> {{session['room']}} </a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/Home">Główna</a>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/createRoom">Stwórz pokój</a>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a>
              </ul>
            </nav>
          </div>
          <div class="main-view">
            <div class="message_holder"></div>
              <form class="msgitems" action="" method="post">
                  <input type="submit" class="msgbtn"/>
                  <span><input type="text" class="message"/></span>
              </form>
          </div>
        </div>
    {% else %}
        Nie jesteś zalogowany!
    {% endif %}
{% endblock %}